<html>
<head>
	<title>Removify</title>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/customstyle.css">
</head>
<body>
	<img src="assets/spotify-logo.svg" class="spotify-logo">
    <div class="container spotify-banner">
		<div class="row">
			<div class="col-sm-12">
			</div>
		</div>
    </div>
    <div class="container black-line">
    	<div class="row">
    		<div class="col-sm-12">
    		</div>
    	</div>
    </div>
    <a href = "index.html">
		<h1>Removify</h1>
	</a>
	<h2>Delete songs from multiple playlist</h2>
	<div>
		<ul class="centered">
			<li>1. Login</li>
			<li>2. Choose Album to delete </li>
			<li id="li3">3. Confirm </li>
		</ul>
	</div>
	<p>Get Started</p><br>
	<a href="/login" target="_blank"> <img src="assets/spotify-login-button.png" alt="Spotify Login"></a>
</body>
</html>